@use './predefined/constants.scss' as constants;
@use './predefined/fontsize.scss' as fontsize;

$simpleCard-maxWidth: 320px;

.simpleCard {
    box-shadow: constants.$default-box-shadow;
    max-width: $simpleCard-maxWidth;
    background: constants.$color-primary;
    border-radius: 10px 10px 5px 5px;
    @include fontsize.default-font-size;
    display: flex;
    flex-direction: column;
    color: #fff;
    transition: background constants.$default-transition;

    &:hover {
        background: constants.$color-tertiary;
    }

    &__image {
        width: 100%;
        height: 360px;
        border-radius: 10px 10px 0 0;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
    }

    &__text {
        &__wrapper {
            margin: constants.$default-gutter * 2;
            text-align: start;
        }

        &__header {
            @include fontsize.default-font-size-h3;
            text-align: center;
            margin-bottom: constants.$default-gutter;
        }
    }
}