//colors
$color-primary: #401F71;
$color-secondary: #824D74;
$color-tertiary: #BE7B72;
$color-Quaternary: #FDAF7B;

//gutters
$default-gutter: 10px;

//transitions
$default-transition: .1s ease;

//other
$default-box-shadow: 0 0 16px transparentize(#000000,0.8);

